---
layout: page-alternate
---
<section class="multi-article">
  {% include covid-banner.html %}
  <article>
    <div class="container">
      <div class="row text-center">
        <h1 class="section-heading">Beginners</h1>
        <p><i>Never done archery before or only ever done a little bit?</i></p>
        <hr>
        {% include placeholder.html %}
        <p>[could be text about what the Beginners course entails]</p>
      </div>
    </div>
  </article>
  <article class="alternate-colour">
    <div class="container">
      <div class="row text-center">
        <h1 class="section-heading">Joining the club</h1>
        <p><i>Have you done archery before but you are moving to the area</i></p>
        <hr>
        {% include placeholder.html %}
        <p>[Information on how to contact the relevant people to join the club]</p>
      </div>
    </div>
  </article>
  <article>
    <div class="container">
      <div class="row text-center">
        <h1 class="section-heading">Want to try archery?</h1>
        <p><i>Not sure if you will want to do archery but you would like to have a go</i></p>
        <hr>
        {% include placeholder.html %}
        <p>[information about have a gos]</p>
      </div>
    </div>
  </article>
  <article class="alternate-colour">
    <div class="container">
      <div class="row text-center">
        {% include when-we-shoot.html %}
      </div>
    </div>
  </article>
</section>
