---
layout: page-alternate
---
<section class="multi-article">
  {% include covid-banner.html %}

  <article class="alternate-colour">
    <div class="container">
      <div class="row text-center">
        {% include when-we-shoot.html %}
      </div>
    </div>
  </article>

  <article id="beginners">
    <div class="container">
      <div class="row text-center">
        <h1 class="section-heading">Beginners</h1>
        <hr>
        <p><i>Never done archery before or only ever done a little bit?</i></p>

        <p>We run taster <a href="#have-a-go">"have-a-go"</a> sessions for a fun and novel corporate or group event day.</p>

        <p>We also run full beginners courses several times a year in Autumn, Spring & Summer. These usually consist of 10-hours of tuition, over 4 afternoons. These are taught by our qualified coaches.</p>

        <a href={% link beginners.html %} class="btn btn-secondary" id="have-a-go">Find Out More</a>
      </div>
    </div>
  </article>

  <article class="alternate-colour">
    <div class="container">
      <div class="row text-center">
        <h1 class="section-heading">Want to try archery?</h1>
        <p><i>Not sure if you will want to do archery but you would like to have a go</i></p>
        <hr>
        <p>Netherhall Archers is happy to provide taster archery sessions to corporate events, team-building days out, etc. These are called "have-a-go" shooting sessions, and our qualified coaches and experienced archers who staff these events provide an enjoyable, safe and stimulating environment in which everyone of all abilities can get a chance to try out this fun sport. These events are invariably enjoyed by all.</p>
        <p>Please <a href={% link contact-us.html %} >contact us</a> to find out more, and get quotes for these have-a-go sessions. We provide all the equipment needed, and we can either hold the session at the club's usual indoor or outdoor locations (depending on availability) or at your own location, assuming it can comply with archery safety requirements. Since we are all volunteers, the times that we can hold these sessions is limited to only weekday evenings and weekends.</p>
        <a href={% link contact-us.html %} class="btn btn-secondary">Contact us</a>
      </div>
    </div>
  </article>

  <article>
    <div class="container">
      <div class="row text-center">
        <h1 class="section-heading">Joining the club</h1>
        <h2>New to archery?</h2>
        <p>Once you've completed a <a href={% link beginners.html %}>Beginner's course</a> so that you know how to shoot safely, we'll be delighted to welcome you.</p>
        <h2>Have you done archery before?</h2>
        <p>We welcome experienced archers - just contact the <a href="mailto:membership@netherhall-achers.org">Membership Secretary</a> to arrange a meeting or use our dedicated contact form for prospective members.</p>
      <a href={% link contact-membership.html %} class="btn btn-secondary">Contact us</a>
      </div>
    </div>
  </article>
</section>
