---
layout: page
---
{% include placeholder.html %}
<div class="alternate">
  <h1 class="section-heading">Newsletters</h1>
  <hr>
  {% include placeholder.html %}
</div>
<h1 class="section-heading">Our Social medias</h1>
<hr>
<p>We can be found on Instagram <a href="https://www.instagram.com/netherhallarchers/" target="_blank">here</a>, on Twitter <a href="https://twitter.com/NetherhallArch" target="_blank">here</a> and on Facebook <a href="https://www.facebook.com/pg/NetherhallArchers/posts/" target="_blank">here</a></p>
<h2>Instagram feed here?</h2>
