---
layout: page-alternate
---

<section class="multi-article">
  {% include covid-banner.html %}
  <article class="container">
    <div class="row text-center">
      <h1 class="section-heading">Newsletters</h1>
      <hr>
      <p>We hope to be a friendly, inclusive and fun place to be an archer, and share regular monthly newsletters with news for our members. Please contact the committee if you have content you would like to include</p>
      {% include newsletterlist.html %}
      <p><i><a class="btn btn-primary" href={% link all-newsletters.html %}>Previous newsletters</a></i></p>
    </div>
  </article>
  <article class="alternate-colour">
    <div class="row text-center">
      <h1 class="section-heading">Our social media</h1>
      <hr>
      <p>We can be found on Instagram <a href="https://www.instagram.com/netherhallarchers/" target="_blank">here</a>, on Twitter <a href="https://twitter.com/NetherhallArch" target="_blank">here</a> and on Facebook <a href="https://www.facebook.com/pg/NetherhallArchers/posts/" target="_blank">here</a></p>
      <script src="https://apps.elfsight.com/p/platform.js" defer></script>
      <div class="elfsight-app-5de49d16-3eb6-4b29-a77b-1420a330ec43"></div>
    </div>
  </article>
</section>
