<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading call-to-action-heading">What's going on in the club</h2>
                <hr class="light">
                <p class="text-faded">Due to the current situation we are meeting in a limited manner</p>
                <a href={% link whats-going-on.html %} class="btn btn-default btn-xl">More information</a>
            </div>
        </div>
    </div>
</section>
