<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading call-to-action-heading">What's going on in the club</h2>
                <hr class="light">
                <p class="text-faded">Due to the current situation we are meeting in a limited manner</p>
                <a href={% link whats-going-on.html %} class="btn btn-default btn-xl">More information</a>
                <br>
                <br>
                <p class="text-faded">Netherhall Archers are pleased to announce we are now maintaining a waiting list for our beginners/introduction to archery courses for 2021. For more information visit our <a href="/beginners.html" class="cta-link">beginners page</a> or to register your interests please complete the <a href="/contact-us.html" class="cta-link">Contact us</a> form. </p>
            </div>
        </div>
    </div>
</section>
