<article class="COVID">
  <div class="container">
    <div class="row text-center">
      {% include placeholder.html %}
      <p>Due to the recent Government announcements with respect to personal isolation and distance to mitigate the COVID-19 pandemic, the club is cancelling the remaining sessions for the indoor season. We will evaluate the situation for the outdoor season in the coming weeks.</p>
      <p>[this banner can be easily added to the rest of the pages]</p>
    </div>
  </div>
</article>
