<article class="COVID">
  <div class="container">
    <div class="row text-center">
      <h2>Covid-19</h2>
      <p>As a club we prioritise the safety of our members. As such we are following guidelines outlines by Archery GB and the UK Government.</p>
      <br />
      <p>Further details can be found at <a href="https://www.archerygb.org/covid-19-what-am-i-allowed-to-currently-do/" class="covid-link" target="_blank">The Archery GB COVID19 page</a></p>
    </div>
  </div>
</article>
