  <footer class="bg-dark">
    <div class="container text-center">
      <div>
        <ul class="nav navbar-nav nav-socials">
          <li><a href="https://www.instagram.com/netherhallarchers/" target="_blank"><i class="fa fa-instagram"></i></a></li>
          <li><a href="https://twitter.com/NetherhallArch" target="_blank"><i class="fa fa-twitter"></i></a></li>
          <li>
            <a href="mailto:{{ site.email }}">
              <i class="fa fa-envelope-o"></i>
            </a></li>
        </ul>
        <ul class="copyright">
          <li>&copy; Netherhall Archers 2020</li>
          <li><a href="#" target="_blank">Privacy policy</a></li>
          <li><a href="#" target="_blank">Membership agreement</a></li>
          <li><a href="#" target="_blank">Contact us</a></li>
        </ul>
      </div>
    </div>
  </footer>
