<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Netherhall Archers</h1>
            <hr>
            <p>A friendly archery club based in Cambridge, UK</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
            <hr>
            <p>Netherhall Archers are pleased to announce we are now maintaining a waiting list for our beginners/introduction to archery courses for 2021. For more information visit our <a href="/beginners" style="color: gold"><u>beginners page</u> </a>  or to register your interests please complete the <a href="/contact-us.html" style="color: gold"><u>Contact us</u> </a> form. </p>
        </div>
    </div>
</header>
