<section id="range-returners">
  <center><img src="img/RR.jpg" alt="ArcheryGB's Range Returner's logo"></center>
  <div class="container">
    <h3 class="text-center">Range Returners</h3>
  </div>
  <div class="container">
    <p class="text-center">Are you looking to get back into archery?<br>A simple refresher session can soon get you back up and shooting.<br>For information on how to book your session click <a href={% link contact-membership.html %}>here to contact us</a>.</p>
    <p class="text-center">We'd like to reassure you that our club and coaches follow Archery GB’s Covid-safe guidelines.<br>We’re ready to welcome you back to help you achieve your sporting ambitions in a socially distanced but fully supportive environment</p>
    <p class="text-center">To find out more about being a range returner visit <a href="https://www.archerygb.org/shoot-compete/range-returners/">Returning to Archery</a> at Archery GB.</p>
    </div>
</section>
