
<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">How can I take part?</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-newspaper-o text-primary"></i>
                    <h3>In our club</h3>
                    <p class="text-muted">What is happening in club this month? Click here for more information</p>
                    <br>
                    <a href={% link whats-going-on.html %} class="btn btn-secondary btn-xl page-scroll">Find out more</a>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart text-primary"></i>
                    <h3>Join our club</h3>
                    <p class="text-muted">For those with little to no experience of Archery and those with experience</p>
                    <br>
                    <a href={% link getting-started.html %} class="btn btn-secondary btn-xl page-scroll">Find out more</a>
            </div>
            <!-- <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-bullseye text-primary"></i>
                    <h3>Records</h3>
                    <p class="text-muted">Information about previous scores, club records and classications</p>
                    <br>
                    <a href={% link records.html %} class="btn btn-secondary btn-xl page-scroll">Find out more</a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-calendar text-primary"></i>
                    <h3>Competitions</h3>
                    <p class="text-muted">What competitions are being held this month and in the upcoming months</p>
                    <br>
                    <a href={% link events.html %} class="btn btn-secondary btn-xl page-scroll">Find out more</a>
                </div>

            </div> -->
        </div>
    </div>
    {% include range-returners.html %}
</section>
