<h1 class="section-heading">When We Shoot</h1>
<hr class="primary">
<p>We shoot three times during the week and in the summer we shoot at Hills Road Sixth Form Fields and during the winter we shoot at Netherhall Sports Centre</p>
<h2>Winter Times</h2>
<table class="times">
  <tr>
    <th>Day</th>
    <th>Times</th>
  </tr>
  <tr>
    <td>Saturday</td>
    <td>10am - 1pm</td>
  </tr>
  <tr>
    <td>Monday</td>
    <td>6pm - 8pm</td>
  </tr>
  <tr>
    <td>Wednesday</td>
    <td>8pm - 10pm</td>
  </tr>
</table>

<h2>Summer Times</h2>
<table class="times">
  <tr>
    <th>Day</th>
    <th>Times</th>
  </tr>
  <tr>
    <td>Saturday</td>
    <td>10am - 12:30pm</td>
  </tr>
  <tr>
    <td>Tuesday</td>
    <td>6pm - dusk</td>
  </tr>
  <tr>
    <td>Thursday</td>
    <td>6pm - dusk</td>
  </tr>
</table>
