// footer
.social-media {
  color: $theme-light;
  font-size: 30px;
  &:hover {
    background: inherit;
    color: white;
  }
}

footer {
  min-height: 100px;

  .copyright {
    list-style: none;
    padding-left: 0;
    padding-top: 15px;
    margin-top: 22px;
    margin-left: auto;
    margin-right: auto;
    // li {
    //   display: block;
    //   border-left: 0;
    //   margin-left: 0;
    //   padding-left: 0;
    //   line-height: inherit;
    // }
    //position: absolute;
    //top: 255%;
    //left: 25%;
    li {
      border-left: solid 1px _palette(border);
      color: _palette(fg-light);
      display: inline-block;
      margin-left: 6px;
      padding-left: 6px;
      font-size: 13px;
      a {
        color: white;
        text-decoration: underline;
      }
      &:first-child {
        border-left: 0;
        margin-left: 0;
        padding-left: 0;
      }
    }
    @media (min-width: 768px) {
      float: right;
    }
    @include sans-serif-font;
  }
}

// about us
ul.committee{
  padding-left: 0px;
  li {
    list-style-type: none;
    padding-top: 7px;
    img {
      width: 100px;
      padding-bottom: 3px;
    }
  }
}

//getting-started
.times{
  width: 100%;
  th, td {
    text-align: center;
    padding: 5px;
    width: 50%;
  }
}

.alternate-colour {
  background-color: $theme-light;
}

//call-to-action-heading
.call-to-action-heading{
  color: white;
}

//whats-going-on
a {
  color: $link-colour;
  :hover {
    color: $theme-primary;
  }
}

article {
  padding-top: 30px;
  padding-bottom: 30px;

  .elfsight-app-5de49d16-3eb6-4b29-a77b-1420a330ec43 {
    padding: 0 60px;
  }
}

//COVID

.COVID {
  background-color: $dark-button;
  color: white;
}


//Sections
.multi-article {
  padding-top:70px;
  padding-bottom:0px;
}

//forms
.button-list {
  li{
    list-style: none;
  }
}

//locations
.indoor {
  @media (min-width: 1200px) {
    float: right;
  }
}

.outdoor{
  @media (min-width: 1200px) {
    float: left;
  }
}

.locations{
  img{
    padding-bottom: 10px;
  }
}

//page
.top-padding {
  padding-top: 30px;
}

//lists
.nobullets {
  li{
    list-style: none;
  }
}

//Links
.covid-link {
  color: white;
  text-decoration: underline;
}
